#modamin-top-navbar{
    background-color: #733c8b;
    color : #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

#modamin-top-navbar a{color : #FFFFFF;}

#modamin-top-navbar .uk-logo > img{
    height: 70%;
    background-color: #fff;
    border-radius: 60%;
    padding: 0px 5px;
}

.uk-offcanvas-bar{background: #8b46a0;}
